@charset "utf-8";
@import url("about_top.css");
@import url("bottom.css");

/*전체*/
html,body{width:100%;height:100%;}
*{box-sizing:border-box;}

body{overflow-y:scroll;-ms-overflow-style:none;}
body::-webkit-scrollbar{display:none;}


#contents_wrap{width:100%;height:100%;overflow:hidden;}



/*왼쪽*/
#about_left{width:50%;height:100%;
			position:fixed;
			z-index:-1;
			background:url(../images/about/about_left.jpg) no-repeat -150px;
			background-size:cover;}
#about_left p{display:none;}



/*오른쪽*/

#about_right{width:50%;float:right;height:900px;
            overflow-y:scroll;
            -ms-overflow-style:none;}

#about_right::-webkit-scrollbar{display:none;}
#about_right div{margin:0 auto;width:80%;padding:5%;text-align:center;}
#about_right .about_1{margin-top:100px;}
#about_right div img{width:100%;height:auto;}
#about_right div h2{width:100%;
					font-size:1.875vw;
					text-align:left;
					color:#ffffff;
					line-height:2em;
					position:relative;}
#about_right div h2::before{content:"";width:500px;height:1px;
									position:absolute;
									bottom:0;left:-800px;
									display:block;
									background-color:#ffffff;
									transition:all 0.3s ease-in;
									z-index:-10;}
#about_right div h2:hover::before{left:-300px;}
#about_right div p{width:100%;
					padding-top:5%;
					font-size:0.938rem;
					text-align:left;
					color:#ffffff;}
