@charset "utf-8";


/*상단전체*/

body{background-color:#000000;}

#wrap{width:100%;min-width:1600px;
    margin:0 auto;}

#top_wrap{width:100%;height:170px;}
#top{width:1500px;height:170px;
    margin:0 auto 40px auto;
    position:relative;}

/*로고*/
#top h1{width:147px;height:22px;
        float:left;
        margin-top:55px;
		margin-left:70px;}
#top h1 .logo{font-size:22px;
            font-family:Bell MT,BellMT,serif;
            fill:#ffffff;}

/*메뉴*/
#menu{width:925px;
        position:absolute;
        top:0;left:50%;
        transform:translate(-50%,0);
        margin-top:65px;}
#menu ul .menu_bar{width:925px;height:17px;
					position:relative;}
.menu_bar::before{content:"Pot pourri";font-size:35px;
									color:#ffffff;
									position:absolute;
									top:-30px;right:250px;}
.list{width:645px;height:17px;
    font-size:17px;
    text-align:center;
    line-height:17px;
    margin:0 auto;
    padding-top:30px;}
.list li{float:left;
        width:129px;height:17px;
        display:none;}
.list .potpourri{opacity:0;}
.menu_bar:hover > .list > li{display:block;}
.list li a{color:#7f7f7f;
            width:129px;height:17px;
            display:block;}
.list li a:hover{color:#ffffff;}



/*search*/
#search_wrap{float:right;
        margin-top:51px;
		margin-left:10px;
        width:200px;height:23px;}/*82*/
#search_wrap label{width:100%;height:100%;
        text-indent:40px;
        line-height:25px;
        font-size:15px;
		color:#ffffff;
        display:block;
        background:url(../images/search_w.png) no-repeat left center;}
#search{width:0;height:25px;
		font-size:12px;
		text-indent:5px;
		outline:none;
		border:1px solid #000000;
		display:none;float:left;}/*js*/


