@charset "utf-8";

@import url("store_top.css");
@import url("bottom.css");
@import url("login.css");


body{background-color:#000000;}
#contents_wrap{clear:both;
                height:1120px;width:100%;min-width:1115px;
                margin:0 auto;
                position:relative;}

/*우측고정*/
#contents_wrap .right_fix{position:fixed;
						top:50%;right:50px;
						transform:translate(0,-50%);
						width:60px;height:110px;z-index:50;}
.right_fix ul{width:100%;height:100%;}
.right_fix ul li{width:100%;height:55px;
				text-align:center;
				line-height:55px;}
.right_fix ul li a{color:#ffffff;
					font-size:15px;}
.right_fix ul li:last-child img{margin-top:15px;}

/*팝업*/

#store_popup{position:absolute;width:750px;height:500px;
			padding-left:50px;
			background-color:#ffffff;
			left:50%;top:0;
			transform:translate(-50%,0);
			font-size:13px;z-index:110;}
#store_popup div h2{font-size:25px;height:150px;line-height:150px;}
#store_popup div div h3{font-size:20px;height:30px;}
#store_popup > div{width:750px;height:500px;
					position:relative;}
#store_popup > div > div{height:100px;}
#store_popup > div > div address{font-style:normal;}
#store_popup div button{position:absolute;right:0px;top:0;
						width:50px;height:50px;
						border:none;
						color:#000000;
						outline:none;
						background-color:transparent;
						font-size:50px;cursor:pointer;}
/*모달태그*/
#layer{width:100%;height:100%;
     background-color:#000000;
    position:fixed;left:0;top:0;
    opacity:0.75;
    z-index:100;}


/*스토어 컨텐츠 전체*/
#contents_wrap #store_contents{width:1165px;height:1120px;
								margin:100px auto 0 auto;}
/*스토어 상단*/
.store_top{width:1165px;height:45px;
			font-size:15px;color:#ffffff;
			position:relative;}
/*제목*/
.store_top h2{font-size:20px;height:45px;width:90px;
			float:left;
			font-weight:200;}
/*store found*/
.store_top .store_f{width:90px;height:45px;float:right;
					text-align:right;}

/*store select*/
.store_top .select_cc{width:576px;height:45px;float:left;
						position:absolute;
						top:50%;left:50%;
						transform:translate(-50%,-50%);}
.select_cc > div{width:288px;height:45px;float:left;}
.select_cc label{display:none;}
.select_cc select{width:270px;height:30px;
					text-indent:10px;
					background:transparent url(../images/arrow_select_w.png) no-repeat 250px center;
					background-size:10px;
					border:none;
					outline:none;
					color:#ffffff;
					border-bottom:1px solid #ffffff;
					font-size:15px;
					appearance:none;
					-webkit-appearance:none;
					-moz-appearance:none;}
.select_cc select::-ms-expand{display:none;}
.select_cc select option{text-indent:10px;}
.select_cc #country{color:#ffffff;}

/*지도*/
.store_map{width:1165px;height:735px;
			text-align:center;
			margin-bottom:50px;}
.store_map iframe{border:none;width:1175px;height:735px;}

/*store info*/
.store_info{width:270px;height:235px;}
/*store name*/
.store_info h3{font-size:23px;color:#ffffff;
				font-weight:bold;
				width:270px;height:48px;
				line-height:48px;
				text-indent:50px;
				background:url(../images/spot.png) no-repeat 10px center;
				background-size:25px;}
.store_info div{width:195px;height:95px;
				margin:40px 25px 35px 52px;}

.store_info div p{font-size:18px;color:#ffffff;
					margin-bottom:15px;}
.store_info div address{font-size:15px;color:#c5c5c5;
						font-style:normal;
						line-height:1.2em;}
.store_info ul{width:220px;height:18px;
				margin-left:52px;}
.store_info ul li{width:93px;height:18px;
				border-bottom:1px solid #c5c5c5;
				text-align:center;
				transition:all 0.3s ease-in;}
.store_info ul li:first-child{float:left;}
.store_info ul li:last-child{float:right;}

.store_info ul li a{font-size:15px;color:#c5c5c5;
					transition:all 0.2s ease-in;}
.store_info ul li:hover{border-bottom:1px solid #ffffff;}
.store_info ul li:hover a{color:#ffffff;}